@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>
        This application is all about to simplify your work progress. By setting milestones, TODOS, tasks, etc. to remind you about your progress and the remain of your work.
    </li>
    <li>
        Set the Roles for each user, give each user the right access type: give the user full access, limited access, or specified type of access.
    </li>
    <li>
        Create categories of the tasks based on the priority or type of task. 
    </li>
    <li>
        Share the work between specifik users/team members, give each its own duty.
    </li>
    <li>
        Create the projects. Share projects between team members.
    </li>
    <li>
        Manage the tasks.
    </li>
    <li>
        How to do it? Go @Html.ActionLink("Here","Documentation") <text>!</text>
    </li>
    <li>Have a question ? Contact me : <a href="mailto:ermirbeqiraj@hotmail.com">Ermir Beqiraj</a>!</li>
</ul>

<br/>
<p>Very easy to use, quick learnable. No need for lessons, books or tutorials. Very intuitive.</p>
<br/>
<h3>Enjoy it!</h3>